body{
  background-image: url(../images/bg4.jpg);
  background-position: le ;
  background-size: cover;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;

}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 15px;
  width: 10%;
}

p{
  font-size: 20px;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 40px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: rgba(169, 169, 169, 0.8);

}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.content{
  padding: 50px;
  background: rgba(169, 169, 169, 0.8);
  top: 0;
  bottom: 0;
  margin-left: 280px;
  margin-right: 200px;
  position: absolute;
  width: 75%;

}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.gallery{
  margin: 27px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

.gallery img{
  width: 100%;
  height: 180px;
}

.desc{
  padding: 20px;
  text-align: center;
  font-style: italic;
}
